* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-image: url('./assets/bg-mobile.jpg');
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-color-bg: rgba(255, 255, 255, 0.1);
  --card-link-color: rgba(255, 255, 255, 0.05);
  --highlight-color-icon: rgba(255, 255, 255, 0.2);
  --switch-bg-light-dark-theme: url('./assets/moon-stars.svg');
  --switch-span-color: rgba(255, 255, 255, 0.1);
  --switch-span-border-color: rgba(255, 255, 255, 0.5);
  --avatar-border-color: rgba(255, 255, 0, 0.8);
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  transition: all 1s;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.light {
  --text-color: black;
  --bg-image: url('./assets/bg-mobile-light.jpg');
  --stroke-color: rgba(0, 0, 0, 0.5);
  --stroke-color-bg: rgba(0, 0, 0, 0.05);
  --card-link-color: rgba(0, 0, 0, 0.2);
  --highlight-color-icon: rgba(0, 0, 0, 0.1);
  --switch-bg-light-dark-theme: url('./assets/sun.svg');
  --switch-span-color: rgba(0, 0, 0, 0.1);
  --switch-span-border-color: rgba(0, 0, 0, 0.5);
  --avatar-border-color: rgba(0, 0, 0, 0.8);
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile__image {
  width: 112px;
  border-radius: 50%;
  border: 2px solid var(--avatar-border-color);
}

.profile__tag {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

.switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 4px auto;
}

.switch__button {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  border: 0;
  background-image: var(--switch-bg-light-dark-theme);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.4s;
}

.switch__button:hover {
  outline: 8px solid var(--highlight-color-icon);
}

.light .switch__button {
  animation: slide-in 0.4s forwards;
}

.switch__span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--switch-span-color);
  border: 1px solid var(--switch-span-border-color);
  backdrop-filter: blur(4px);
  --webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* ------------------ CARDS ------------------  */
.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px 0;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--stroke-color-bg);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: background 0.2s;
}

.card__link:hover {
  background: var(--card-link-color);
  border: 1.5px solid var(--text-color);
}

/* ------------------ ICONS ------------------  */

.social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.2s;
  border-radius: 50%;
}

.social-links__link:hover {
  background-color: var(--highlight-color-icon);
}

/* ------------------ FOOTER ------------------  */
.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__text {
  font-size: 14px;
}


@media (min-width:700px) {
  :root {
    --bg-image: url('./assets/bg-desktop.jpg');
  }

  .light {
    --bg-image: url('./assets/bg-desktop-light.jpg');
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}