* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

.container {
  width: 360px;
  margin: auto;
  margin-top: 56px;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile__image {
  width: 112px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 0, 0.8);
}

.profile__tag {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
}

/* ------------------ CARDS ------------------  */
.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px 0;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: background 0.2s;
}

.card__link:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}

/* ------------------ ICONS ------------------  */

.social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background-color 0.2s;
  border-radius: 50%;
}

.social-links__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ------------------ FOOTER ------------------  */
.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__text {
  font-size: 14px;
}